.ItemCounter{
  color: #1e3752;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  border-top:#1e3752 0.1em dotted;
}
  
.ItemCount-Btn{
  size: small;
}

.smallSize{
  font-size: 10px;
}

.pInline{
  display: inline-block;
  padding: 8px;
}